@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', sans-serif;
}

.bg-blur {
  backdrop-filter: blur(8px);
}

.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Añadir estilos para el efecto hover en las imágenes del collage */
.group:hover .group-hover\:scale-110 {
  transform: scale(1.1);
}

.group:hover .group-hover\:bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}